@import "responsive"
//@use 'basic'

#generator-container
  @extend .flex-container
  @extend .center-center-row
  //background-color: gray
  //border: 2px solid black


#grayscale_container
  //background-color: bisque
  flex-basis: 5%
  height: 100%
  @extend .flex-container
  @extend .center-start-column

#svg_container
  //background-color: antiquewhite
  flex-basis: 70%
  height: 100%
  flex-grow: 2

#action-area
  //background-color: rgb(43, 122, 141)
  flex-basis: 25%
  height: 100%
  @extend .flex-container
  @extend .center-start-column
  overflow-y: auto
  overflow-x: hidden

.grayscale_bar:hover
  stroke-width: 4%
  stroke: bisque
  cursor: row-resize


//svg
.init_new_rule
  cursor: crosshair
.disable_new_rules
  cursor: default

//rule
.rule_rect
  stroke-width: 0.5%
  fill: none
  pointer-events: stroke

.rule_rect_forming
  stroke: cornflowerblue
.rule_rect_pending
  stroke: #ef0d15
  stroke-width: 1.5%
  &:hover
    cursor: nwse-resize
.rule_rect_finalized
  stroke: darkgray
  //opacity: 0.25

.rule_rect_fill
  stroke: none
  fill: white
  opacity: 0.01
  pointer-events: fill

.rule_rect_fill_forming
  opacity: 0.1
.rule_rect_fill_pending
  opacity: 0.05
  &:hover
    cursor: move
.rule_rect_fill_finalized
  opacity: 0

//action area
#warning_div
  font-size: 1.5vw
  text-align: center
  height: 8vw
  overflow: auto
.rule
  width: 100%
  padding: 2%
  @extend .flex-container
  @extend .center-start-column

.collapsible
  background-color: black
  color: white

  width: 100%
  border: none
  text-align: left
  outline: none
  font-size: 1.75vw
  padding: 0.5vw
  @extend .center-between-row
  flex-wrap: nowrap
  .coll_rule
    flex-basis: 70%
  .coll_test
    cursor: pointer
    &:hover
      background-color: gray
      color: white
  .coll_close
    cursor: pointer
    &:hover
      background-color: gray
      color: white
  .coll_finalize
    cursor: pointer
    &:hover
      background-color: gray
      color: white


  //&:hover
  //  cursor:
//
//.active_rule, .collapsible:hover
//  background-color: #0a1d2d

.rule_content
  font-size: 1.5vw
  //padding: 0.5vw
  width: 100%
  transition: max-height 0.2s ease-out
  background-color: #e8e8e8
  display: block
  height: auto
  div
    width: 100%
    font-size: 1.5vw
    padding: 0.75vw

  input
    //type: number
    width: 1.5vw*3.2
    margin-left: 0.1vw
    margin-right: 0.1vw
  .rule_hint
    &:hover
      color: white
      background-color: gray
      cursor: help

.hidden
  visibility: hidden
.no_display
  display: none


.flex_display
  display: flex

.fold_content
  display: none
  div
    display: none
  //height: 0!important
  //overflow: hidden
  //flex-wrap: nowrap!important

.rule_test_mini
  @extend .center-around-row
  flex-wrap: wrap
  background-color: #efefef
  width: 100%
  transition: max-height 0.2s ease-out
  height: auto
  display: flex
  div
    width: 4vw
    height: 4vw
    border: 0.01vw solid #efefef
    margin: 0.5vw
    border-radius: 0.5vw


#palette
  width: 100%
  @extend .center-center-row
  .button
    font-size: 2vw
    background-color: #01090e
    color: #e8e8e8
    margin: 0.5vw
    padding: 0.5vw
    border-radius: 0.5vw
    flex-basis: 5vw
    text-align: center
    &:hover
      background-color: gray
      cursor: pointer



#palette_display
  flex-basis: 35%
  height: 100%
  //background-color: gray
  @extend .center-start-column
  border: 1px solid black
  div
    //border: 1px solid black
    width: 100%
  .title_text
    padding-top: 20px
    font-size: 4vw
    flex-basis: 10%
  #rule_sample_container
    @extend .center-start-column
    overflow-y: auto
    overflow-x: hidden
    flex-basis: 75%
    .sample_display
      width: 95%
      @extend .center-center-row
      margin-top: 5px
      margin-bottom: 5px
      //padding: 20px
      background-color: #e8e8e8
      .rule_id_display
        text-align: center
        font-size: 2vw
        flex-basis: 10%
        &:hover
          background-color: #01090e
          color: white
          cursor: pointer


      .sample_div
        flex-basis: 90%
        @extend .center-between-row
        flex-wrap: wrap
        div
          width: 4vw
          height: 4vw
          border: 0.01vw solid #efefef
          margin: 0.5vw
          border-radius: 0.5vw


  #sample_action_container
    flex-basis: 15%
    @extend .center-around-row


#palette_preview
  flex-basis: 65%
  height: 100%
  //background-color: darkseagreen
  @extend .center-start-column
  div
    //border: 1px solid black
    width: 100%

  #preview_svg_container
    flex-basis: 85%
    padding: 2vw
  #preview_action_container
    flex-basis: 15%
    @extend .center-around-row







