@font-face {
    font-family: 'straightlineregular';
    src: url('Straightline_full.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
* {
    box-sizing: border-box;
    font-family: straightlineregular;
}



html, body {
    width : 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}
.container{
    display: flex;
    align-items: center;
    justify-content: start;
    flex-direction: column;
    width: 100%;
}
.hor_container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    text-align: center;
    margin-top:2%;
}
.lr_margin{
    flex-basis: 10%;
}
.icon{
    width: 30%;
}
.nav{
    font-size: 2vw;
    display: flex;
    flex-direction: row;
    margin-left: 15%;
    margin-right: 15%;
    justify-content: space-around;
    flex-wrap: wrap;
}
.nav a{
    font-size: max(2vw,20px)
}
.nav div{
    padding: 3%;
}
.nav select{
    font-size: max(2vw,20px)
}
.nav label{
    font-size: max(2vw,20px)
}
.nav div{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
p{
    font-size: max(1.5vw,25px);
    text-align: left;
    margin-left: 15%;
    margin-right: 15%;
}
h1{
    font-size: max(5vw,30px);
}
h2{
    font-size: max(4vw,30px);
}
h5{
    font-size: max(2vw,20px);
}

a{
    target:"_blank";
    color:gray;
    padding-left: 5px;
    padding-right: 5px;
}
a:hover{
    background: #01090e;
    color: white;
}
img{
    display: block;
    margin-left:auto;
    margin-right:auto;
}
.note{
    font-size: 1.75vw;
    border: 3px dotted #01090e;
    padding: 5%;
}
.mini-tag{
    font-size: 1.75vw;
    border-bottom: 3px dotted #01090e;
    padding: 1.5%;
    text-align: center;
    /*margin:0*/
}
.top-border{
    border-top: 3px dotted #01090e;
    padding:2.5%;
    margin-left:15%;
    margin-right:15%;
}

/*button*/
button{
    padding: 10px;
    font-size: max(1.5vw,25px);
}
/*pop up*/

#popup {
    position: absolute;
    overflow-y: auto;
    overflow-x: hidden;
    font-size: 2vw;
    min-font-size: 8px;
    display: none;
    opacity: 0.95;
    width: 90%;
    height:90%;
    left:5%;
    top:5%;
    border: 2px solid black;
    background-color: white;
    z-index: 1;
}
.section_title{
    font-size: max(1.75vw,30px);
    padding:1% ;
}
#closebtn{
    position: relative;
    right: -96%;
    top:3%;
    cursor:pointer !important;
    font-size: max(1.5vw,20px);
}
#popupFlex{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 1%;
}
.filter_div{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom:4%;
    flex-wrap: wrap;
}
.filter_div .section_title{
    display: block;
    flex-basis: 30%;
}
.filter_div .filter_options{
    display: flex;
    flex-basis: 70%;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    /*border-bottom: 1px solid black;*/
}
.filter_options div{
    padding: 1%;
}
.popupinfo{
    text-align: center;
}

/*visualization*/

#main_display{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1%;
}
.card{
    width: max(5vw,30px);
    height:  max(5vw,30px);
    margin: 1vw;
    border: 8px solid white;
    padding: 2vw;

}
/*.card:hover{*/
/*    border: 8px solid black;*/
/*    width: 30vw;*/
/*    height: 40vw;*/
/*    background-color: white;*/
/*}*/
.card img{
    width: 100%;
    max-width: 100%;
    max-height: 100%;
    display: none;
}
.card div{
    font-size: max(1.5vw,22px);
}

/*responsive*/
@media only screen and (max-width: 700px) {
    *{
        font-size: 4vw;
    }
    p{
        font-size: 4vw;
    }

    h1{
        font-size: 6vw;
    }
    h2{
        font-size: 5vw;
    }
    .nav{
        flex-wrap: wrap;
    }
    .nav div{
        flex-basis: 100%;
    }
    h5{
        font-size: 5.5vw;
    }
    h6{
        font-size: 5vw;
    }
    .mini-tag{
        font-size: 4vw;
    }
    .note{
        font-size: 4vw;
    }

}





/*ROUNDED TOGGLE, REFERENCING FROM W3SCHOOLS https://www.w3schools.com/howto/tryit.asp?filename=tryhow_css_switch*/
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}

input:checked + .slider {
    background-color: #181818;
}
input:checked{
   background-color: #181818;
}

input:focus + .slider {
    box-shadow: 0 0 1px #01090e;
}

input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
}

